/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,400;1,900&display=swap');

/* Normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root{
    /* Colores */
    --A:#FED9ED;
    --B:#E7BCDE;
    --C:#BB9CC0;
    --D:#67729D;

    /* Fuentes */
    --titulos:'Bungee Spice', sans-serif;
    --textos:'Montserrat', sans-serif;
}

body
{
    min-height: 100vh;

    font-family: var(--textos);
    background-color:var(--C) ;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px 20px;
    background-color: var(--D);
    position: fixed;
    width: 100%;
    z-index:2;
}

.titulo
{
    padding: 5px;
    font-family: var(--textos);
    text-align: center;
    background-color:var(--B);
}
/*barra de navegacion*/
.header-logo
{
    width: 60px;
}
.navbar
{
    z-index: -1;
}

.navbar-lista
{
    display: none;
    column-gap: 10px;
    list-style: none;
}

.navbar-lista li a{
    text-decoration: none;
    color: var(--B);
    z-index: -1;
}

.navbar-lista li a:hover
{
    transform: translateY(-5px);
    transition-duration: 0.5s;
    text-shadow: 0 0 15px wheat;
}
#toggle-menu
{
    display: none;
}

#toggle-menu:checked ~ .navbar-lista{
    display: flex;
    position: absolute;
    flex-flow: column;
    row-gap: 20px;
    padding: 30px;
    right: 0;
    background-color: var(--D);
    border-end-start-radius: 20px;
    animation-name: navbar;
    animation-duration: 0.9s;
    z-index: -1;
}
.bars-menu i
{
    padding: 28px;
}
/*banner que cambia de imagen*/
.banner
{
    position:relative;
    
    width: 100%;
    height: calc(100vh - 50px);

    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../assets/banner1.jpg);

    animation: banner 24s infinite linear;
}

.banner-content
{
    width: 100%;
    height: 100%;

    color: var(--C);
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.banner-content h1
{
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
}
.banner-content a
{
    text-decoration: none;
    color: var(--C);
    padding: 10px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.banner-content a:hover
{
    background-color: white;
    color: #333;
}
/*animacion para el banner*/
@keyframes banner
{
    0%
    {
        background-image: url(../assets/banner1.jpg);
    }
    33.33%
    {
        background-image: url(../assets/banner1.jpg);
    }
    34.33%
    {
        background-image: url(../assets/banner2.jpg);
    }
    66.66%
    {
        background-image: url(../assets/banner2.jpg);
    }

    67.66%
    {
        background-image: url(../assets/banner3.jpg);
    }
    100%
    {
        background-image: url(../assets/banner3.jpg);
    }
}

/*segundo section, esto es de los articulos de venta*/
.container /*aca van a ir las cajas*/
{
    display: flex;
    padding-top: 10px;
    width: 100%;
}

.caja /*caracteristicas generales de las cajas*/
{
    height: 200px; /* Altura */
    width: 200px; /* Ancho */


}

.a{
    background-image: url(../assets/cartera1.jpeg);
    background-repeat: no-repeat;

    padding: 30px

}
.b{
    background-image: url(../assets/tacos1.jpg);
    background-repeat: no-repeat;
}
.c{
    background-image: url(../assets/cartera4.jpg);
    background-repeat: no-repeat;
}
.d{
    background-image: url(../assets/tacos2.jpg);
    background-repeat: no-repeat;
}
.e{background-image: url(../assets/cartera3.jpg);
    background-repeat: no-repeat;
    
}
.f
{
    background-image: url(../assets/tacos3.jpg);
    background-repeat: no-repeat;
}
.a, .b, .c, .d , .e, .f{
    background-size: contain; /* Ajusta la imagen para que se vea completa en el contenedor y no se recorte */
    background-position: center; /* Centra la imagen en el contenedor */
}